* {
    padding: 0;
    margin: 0;
}

#page {
    width: 100%;
    margin: auto;
    background: rgb(243,233,241);
    background: linear-gradient(180deg, rgba(243,233,241,1) 30%, rgba(255,255,255,1) 100%);
    font-family:'Roboto',sans-serif;
}  

/* attributs flex */

.d-flex{
    display: flex;
}

.flex-vertical {
    flex-direction: column;
}

.flex-horizontal {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}
  
.justify-content-center {
    justify-content: center;
}
 
/* mise en page */

header{
    margin: 2% 10%;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    justify-content: space-between;
}

#nav{
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo img{
   width: 292px; 
   height: 71px;
}

h1{
    font-size: 3em;
    margin: 40px 0px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}


h2{
    font-size: 2.2em;
    margin: 10px 0px 0px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}


footer{
    justify-content: flex-end;
    background: rgb(243,233,241);
    background: linear-gradient(360deg, rgba(243,233,241,0.85) 70%, rgba(255,255,255,0) 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a{
    display: block;
    margin: 40px 30px 20px;
    font-size: 1.3em;
    font-weight:500;
    text-decoration:none;
    color: #997499 ;
    
}

a{
    outline: 0;
}

/* Page des produits */

#products{
    margin: 0% 10%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 40%;
    height: 100%;
    margin: 5% 0%;
    padding: 2% 0%;
    box-shadow: 10px 10px 5px 0px rgba(238, 238, 238, 1);
    background-color:#f7edf6 ;
    border-radius: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:last-child{
    margin-bottom: 105px;
}

#products h2{
    font-size: 2.2em;
}

#products h3{
    font-size: 1.4em;
}

#products img {
    width: 80%;
    height: 80%;
    border: outset grey 3px ;
    border-radius: 16px;
    transition: all 0.2s ease-in-out
}

#products img:hover {
    transform: scale(1.02);
    opacity: 0.7;
  }

/* Page de produit spécifique */

#singleproduct{
    justify-content: space-around;
}

.productcard{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productcard button,.productcard input{
    margin-top: 12px;
}

.productcard button{
    margin-bottom: 12px;
}

#singleproduct img{
    width: 80%;
    height: auto;
    border: 4px solid #e4e4eb ;
    border-radius: 0.5em;
}

.productcard h2{
    font-size: 2.7em;
}

.productcard h3{
    text-align: justify;
    padding: 1% 0% 2%;
    font-size: 1.8em;
}

.productcard h4{
    font-size: 1.8em;
    margin: 1% 0% 0%;
}

.productcard p{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
    margin: 0% 4%;
}

.productcard:last-child{
    margin-bottom: 85px;
}

.productcard select, .productcard input{
    font-size: 1em;
    margin: 0.5% 0% 1%;
    width: 20em;
}

/* Panier,Formulaire */    

#table{
    margin-top: 5%;
    width: 100%;
    background-color: white;
}

#table,#table th, #table td,#table tfoot td{
    border: 2px solid #e4e4eb;
    border-collapse: collapse;
}

#table th, #table td,#table tfoot td{
    background-color: #f0f0f5;
}

#table td{
    text-align: center;
}

#table th:nth-last-child(n+1){
    border: none;
    background-color: white;
}

#tablediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;  
}

#form{
    width: 400px;
    display: flex;
    align-items: center;
}

#form input{
    width: 100%;
    padding: 10px;
}

#form label{
    margin-top: 10px;
    text-align: center;
}

#form:last-child{
    margin-bottom: 85px;
}

#table th:nth-child(1){
    width: 25%;
}

#table th:nth-child(2){
    width: 20%;
}

#table th:nth-child(n+3){
    width: 15%;
}

#table tr{
    height: 3em;
}

#tablediv a,#empty,#formp,#submit{
    margin-top: 20px;
    font-size: 16px;
}

#formp{
    text-align: center;
    font-size: 18px;
    margin: 30px 0px 10px;
}

#submit{
    width: 20%;
    margin-bottom: 20px;
}

button,#cartlink,.productbutton,#indexlink,#tablediv a,#submit{
    display:inline-block;
    padding:0.6em 1.6em;
    border:0.1em solid #525252;
    border-radius:0.50em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:500;
    color: #525252;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#eddeec;
    text-align:center;
    transition: all 0.15s;
}

button:hover,#cartlink:hover,.productbutton:hover,#indexlink:hover,#tablediv a:hover,#submit:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:black;
    border-color:black;
}

button:active,#cartlink:active,.productbutton:active,#indexlink:active,#tablediv a:active,#submit:active{
    background-color: #c9b3c8;
    transform: translate(-1px,3px);
    transition: all 0.05s;
}

#cartlink,#indexlink{
    margin:0px 12px;
    font-size: 20px;
}

/* Page de confirmation */

#confirm{
    border: solid 3px rgba(202, 180, 201, 0.6) ;
    border-radius: 0.75em;
    background-color: rgba(237, 222, 236, 0.5);
    margin: 2% 22%;
    padding: 2%;
    text-align: center;
}

#confirm p {
    padding: 10px;
    font-size: 20px;
}

#confirm h3{
    font-size: 28px;
    padding-top: 16px;
}

#confirmsection img{
    width: 40%;
    align-self: center;
    padding-bottom: 60px;
    border: 5px solid transparent
}

#namecmd,#idcmd,#totalcmd{
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}

#idcmd{
    margin: 5% 0%;
}

/* Messages d'erreur */

.errorDiv{
    margin: 10% 10%;
    padding: 2%;
    font-size: 2em;
    display: flex;
    text-align: center;
    color: #a8271e;
    border: red 5px solid;
    background-color: pink;
}

.carterrorDiv{
    margin: 1% 20%;
    padding: 2%;
    font-size: 1.2em;
    display: flex;
    text-align: center;
    color: #a8271e;
    border: red 5px solid;
    background-color: pink;

}    

