* {
    padding: 0;
    margin: 0;
}

#page {
    width: 100%;
    margin: auto;
    background: rgb(243,233,241);
    background: linear-gradient(180deg, rgba(243,233,241,1) 30%, rgba(255,255,255,1) 100%);
}  

/* attributs flex */

.d-flex{
    display: flex;
}

.flex-vertical {
    flex-direction: column;
}

.flex-horizontal {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}
  
.justify-content-center {
    justify-content: center;
}
 
.justify-content-space-between{
    justify-content: space-between;
}
/* mise en page */

header{
    margin: 2% 10%;
}

#nav{
    width: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo{
   width: 292px; 
   height: 71px;
}

h1{
    font-size: 3em;
    margin: 15px 0px;
}

#products{
    margin: 5% 10%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 40%;
    margin: 5% 0%;
    padding: 2% 0%;
    box-shadow: 10px 10px 5px 0px rgba(238, 238, 238, 1);
    background-color:#f7edf6 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products img {
    width: 80%;
    height: 80%;
    border: outset grey 3px ;
    border-radius: 16px;
}

#singleproduct{
    justify-content: space-around;
}

.productcard{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productcard button,.productcard input{
    margin-top: 12px;
}

.productcard button{
    margin-bottom: 12px;
}

#singleproduct img{
    width: 80%;
    height: auto;
}

.productcard h2{
    font-size: 2em;
}

.productcard h3{
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.5em;
}

.productcard h4{
    font-size: 1.2em;
}

/* Panier,Formulaire */    

#table{
    margin-top: 5%;
    width: 100%;
    background-color: white;
}

#table,#table th, #table td, #table tfoot td{
    border: 2px solid #e4e4eb;
    border-collapse: collapse;
}

#table th, #table td,#table tfoot td{
    background-color: #f0f0f5;
}

#table td{
    text-align: center;
}

#table th:nth-last-child(n+1){
    border: none;
    background-color: white;
}

#tablediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;  
}

#form{
    width: 400px;
    display: flex;
    align-items: center;
}

#form input{
    width: 100%;
    padding: 10px;
}

#form label{
    margin-top: 10px;
    text-align: center;
}

#table th:nth-child(1){
    width: 25%;
}

#table th:nth-child(2){
    width: 20%;
}

#table th:nth-child(n+3){
    width: 15%;
}

#table tr{
    height: 3em;
}

#tablediv a,#empty,#formp,#submit{
    margin-top: 20px;
    font-size: 16px;
}

#submit{
    width: 20%;
    margin-bottom: 20px;
}

button,#cartlink,.productbutton,#indexlink,#tablediv a,#submit{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #525252;
    border-radius:0.50em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #525252;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#eddeec;
    text-align:center;
    transition: all 0.15s;
}

button:hover,#cartlink:hover,.productbutton:hover,#indexlink:hover,#tablediv a:hover,#submit:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:black;
    border-color:black;
}

button:active,#cartlink:active,#productbutton:active,#indexlink:active,#tablediv a:active,#submit:active{
    background-color: #3e8e41;
    transform: translate(-1px,3px);
    transition: all 0.05s;
  }

.productbutton:active{
    background-color: black;
}   

#cartlink,#indexlink{
    margin:0px 12px;
}